* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;

}

/* Style the header */
.header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  color: white;
}



/* Style the list inside the menu */
.topnav {
  list-style-type: none;
  padding: 1px;
  margin-bottom: 2px;
  overflow: hidden;
  background-color: black;
  position: relative;
  margin-top: 2px;
  top: 1px;
}

.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

.topnav a:hover {
  background-color: grey;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #666;

}

.dropbtn {
  float: right;
  display: block;
  color: white;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover,
.dropdown:hover .dropbtn{
  background: grey;
}

.dropdown {
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.row {
  height: 100%;
  background-color: #bababa;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 0;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
  background-color: #bababa;
}

/* Right column */
.rightcolumn {
  float: left;
  height: auto;
  width: 25%;
  background-color: #bababa;
  padding-left: 20px;
}

.rightcolumn ul {
  list-style-type: none;
  display: block;
}

.right column li a {
  margin-bottom: 4px;
  display: block;
  padding: 8px;
  background-color: #eee;
  text-decoration: none;
  color: #666;
}

.content {
  background-color: #dadada;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}


/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background: #777;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  display: inline-table;
  width: 100%;
  column-count: 3;
}

.footcontent {
  background-color: #bebebe;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  height: auto;
}



.footcolleft {
  float: left;
  width: 24%;
}



.footcolmid {
  float: left;
  width: 50%;
  margin-left: 1%;
  margin-right: 1%;
}

.footcolright {
  float: left;
  width: 24%;
}

.contactform {
  text-align: left;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .rightcolumn,
  .leftcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}